#main-content {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    margin: auto;
}

.nav-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10%;
    width: 50%;
}

.nav-container-items {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    color: var(--slate);
    font-size: 36px;
    font-weight: 500;
    list-style-type: none;
    gap: 1.5rem;
}

.nav-container-items {
    display: flex;
    padding: 0;
}

.nav-container-items li {
    transition: all 0.3s ease-in-out;
}

.nav-container-items li:hover {
    color: var(--green);
    cursor: pointer;
}

.nav-container-items .active {
    font-size: 56px;
    font-weight: 600;
    color: var(--lightest-slate) !important;
    transition: all 0.3s ease-in-out;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}