.skill-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-1);
    color: var(--text-2);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: default;
    transition: all 0.3s ease;
    gap: 0.6rem;
    box-shadow: 0px 0px 20px -10px var(--highlight-4);
	border: 1px solid var(--highlight-6);
    opacity: 1;
}

.skill-tag:hover {
    /* transform: scale(1.05); */
    box-shadow: 0px 0px 20px -6px var(--highlight-8);
    border: 1px solid var(--highlight-8);
    color: var(--text-1);
}

.skill-tag img {
    opacity: 0.8;
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: var(--text-2) !important;
    transition: all 0.3s ease;
}

.skill-tag:hover img {
    opacity: 1;
}