.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    margin: auto;
}

.highlight-text {
    color: var(--highlight) !important;
}

.about-container  p {
    margin: 0;
    color: var(--highlight);

}

.light-theme .about-container p {
    font-weight: 600;
}

.about-container h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--text-1);
}

.about-container span {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
    color: var(--text-3);
}