.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    height: 100%;
    width: 70%;
    gap: 1rem;
    margin: 40% auto;
    /* overflow: hidden; */
}


@media (max-width: 768px) {
    .skills-container {
        width: 100%;
        margin: auto;
    }
}
