#skills {
    width: 70%;
    height: 100%;
    margin: 40% auto;
}
.skills-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    height: 100%;
    width: 100%;
    gap: 1rem;
}


@media (max-width: 768px) {
    #skills {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 90%;
        height: 80vh;
        margin: auto;
    }

    .skills-container {
        height: 80%;
    }
}
