.app {
  display: flex;
  background-color: pink;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

:root {
  /* Dark Mode Colors */
  --first-color: #15202b;
  --second-color: #192734;
  --third-color: #22303c;
  --fourth-color: #ffffff;
  --fifth-color: #8899ac;
}


:root {
  /* Light Mode Colors */
  --first-color-light: #f0f4f8;
  --second-color-light: #bcccdc;
  --third-color-light: #829ab1;
  --fourth-color-light: #486581;
  --fifth-color-light: #102a43;
}