:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-text-1: rgba(60, 60, 67);
  --light-text-2: rgba(60, 60, 67, .78);
  --light-text-3: rgba(60, 60, 67, .56);

  --text-1: rgba(255, 255, 245, .86);
  --text-2: rgba(255, 255, 245, .6);
  --text-3: rgba(255, 255, 245, .38);

  --bg-1: #0F172A;
  --bg-2: #1B294B;
  --bg-3: #101028;

}


body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: var(--bg-1);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}
